input:required {
    box-shadow:none;
}

.form-group.required LABEL:after {
    content: "*";
    padding-left: 3%;
}

.bg-highlight {
	background-color: #f7f7f9;
}

.align-right {
	text-align: right;
}