:host .card {height: 100%}
:host .card {
	background-image: url(icons/loading.svg);
	background-repeat: no-repeat;
	background-position: center;
}

:host .card .btn {display: none}
:host .card.loaded:hover .btn {display: block}