<form #employeeForm="ngForm">

	<!-- Employee name and gender -->
	<div class="form-group row required">
		<label for="name" class="col-xs-2 col-form-label">{{RES.get('wizard.employee.name')}}</label>
		<div class="col-xs-8">
			<div class="form-group row">
				<!-- Employee name -->
				<div class="col-xs-9"
					[class.has-danger]="name.errors && (name.dirty || name.touched)">
					<input class="form-control" type="text" required maxlength="100"
						name="name" #name="ngModel" ngModel>
					<div class="form-control-feedback"
						*ngIf="name.errors && (name.dirty || name.touched)">{{RES.get('commons.required_field')}}</div>
					<small class="form-text text-muted">{{RES.get('wizard.employee.name.help_text')}}</small>
				</div>
				<!-- Employee gender -->
				<div class="col-xs-3"
					[class.has-danger]="gender.errors && (gender.dirty || gender.touched)">
					<select class="form-control" required name="gender"
						#gender="ngModel" ngModel>
						<option value="{{GENDERS.MALE}}">{{RES.get('wizard.employee.gender.male')}}</option>
						<option value="{{GENDERS.FEMALE}}">{{RES.get('wizard.employee.gender.female')}}</option>
					</select>
					<div class="form-control-feedback"
						*ngIf="gender.errors && (gender.dirty || gender.touched)">{{RES.get('commons.required_field')}}</div>
					<small class="form-text text-muted">{{RES.get('wizard.employee.gender.help_text')}}</small>
				</div>
			</div>
		</div>
	</div>

	<!-- Identification number -->
	<div class="form-group row required"
		[class.has-danger]="idnum.errors && (idnum.dirty || idnum.touched)">
		<label for="idnum" class="col-xs-2 col-form-label">{{RES.get('wizard.employee.id_num')}}</label>
		<div class="col-xs-8">
			<input class="form-control" type="text" required maxlength="20" name="idnum" #idnum="ngModel" ngModel>
			<div class="form-control-feedback" *ngIf="idnum.errors && (idnum.dirty || idnum.touched)">{{RES.get('commons.required_field')}}</div>
			<small class="form-text text-muted">{{RES.get('wizard.employee.id_num.help_text')}}</small>
		</div>
	</div>

	<!-- Email -->
	<div class="form-group row"
		[class.has-danger]="email.errors && (email.dirty || email.touched)">
		<label for="email" class="col-xs-2 col-form-label">{{RES.get('wizard.employee.email')}}</label>
		<div class="col-xs-8">
			<input class="form-control" type="text" maxlength="100" validateEmail
				name="email" #email="ngModel" ngModel>
			<div class="form-control-feedback"
				*ngIf="email.errors && email.errors.validateEmail && (email.dirty || email.touched)">{{RES.get('commons.invalid_mail')}}</div>
			<small class="form-text text-muted">{{RES.get('wizard.employee.email.help_text')}}</small>
		</div>
	</div>

</form>

<!-- Buttons -->
<div class="row mt-3">
	<!-- Cancel button -->
	<div class="offset-xs-2 col-xs-2">
		<button type="button" class="btn btn-secondary" (click)="onCancel()">{{RES.get('commons.cancel')}}</button>
	</div>
	<!-- Next button -->
	<div class="offset-xs-4 col-xs-2">
		<button type="button" class="btn btn-outline-primary" (click)="onNext()">{{RES.get('commons.save_and_continue')}}</button>
	</div>
</div>